@font-face {
    font-family: 'Foo';
    src: local('Foo'), local('Foo Regular'), url('foo.woff2') format('woff2'), url('foo.woff') format('woff'), url('foo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
